[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
isort = "*"
black = "*"
mypy = "*"
pyflakes = "*"

[packages]
pillow = "*"
pytweening = "*"

[requires]
python_version = "3.6"
